doctype html
html(lang="en")
	head
		title Aplikasi Pendataan Pegawai
		link(rel='stylesheet', href='../css/themes/default/jquery.mobile-1.4.5.min.css')
		link(rel='stylesheet', href='../css/style.css')
		script("src=../js/jquery.js")
		script("src=../js/jquery.mobile-1.4.5.min.js")
	body
		#container
			h2 Aplikasi Pendataan Pegawai 
			ul#pagination
					li
						a(href='../pegawai/new', data-rel='external', data-role='button') Tambah Pagawai
					li
						a(href='../pegawai/list', data-rel='external', data-role='button') Daftar Pegawai